<li class="nav-item">
    <a href="pages/widgets.html" class="nav-link">
        <i class="nav-icon fas fa-tachometer-alt"></i>
        <p>
            Dashboard
        </p>
    </a>
</li>

<li class="nav-header">Dormitory</li>

<li class="nav-item" id="Catalogtreeview">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-th"></i>
        <p>
            Dormitory
            <i class="fas fa-angle-left right"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a asp-action="Index" asp-controller="Category" class="nav-link" id="CategoryNav">
                <i class="far fa-circle nav-icon"></i>
                <p>Category</p>
            </a>
        </li>

        <li class="nav-item">
            <a asp-action="Index" asp-controller="Scale" class="nav-link" id="ScaleNav">
                <i class="far fa-circle nav-icon"></i>
                <p>Add Flats</p>
            </a>
        </li>
        <li class="nav-item">
            <a asp-action="Index" asp-controller="Technology" class="nav-link" id="TechnologyNav">
                <i class="far fa-circle nav-icon"></i>
                <p>Booking</p>
            </a>
        </li>

    </ul>
</li>


<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon far fas fa-users"></i>
        <p> Available Booking</p>
    </a>
</li>

<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon far fa-envelope"></i>
        <p>Contacts</p>
    </a>
</li>
<li class="nav-item">
    <a href="#" class="nav-link">
        <i class="nav-icon fas fa-shopping-basket"></i>
        <p>
            Orders
            <i class="fas fa-angle-left right"></i>
        </p>
    </a>
    <ul class="nav nav-treeview">
        <li class="nav-item">
            <a href="pages/examples/invoice.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Order List</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="pages/examples/profile.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Cart Summery</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="pages/examples/e-commerce.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Extended</p>
            </a>
        </li>
        <li class="nav-item">
            <a href="pages/examples/projects.html" class="nav-link">
                <i class="far fa-circle nav-icon"></i>
                <p>Report</p>
            </a>
        </li>

    </ul>
</li>